<p>users works!</p>

<ul>
  <li  *ngFor="let user of data">
    Hej {{user.firstname}}
  </li>
</ul>

<br>

<div>
  <form #findUserOrdersForm="ngForm" (ngSubmit)="findUserOrders(findUserOrdersForm)">

    <label>Find orders for specified user. Insert userID: </label>
    <input type="text" name="name" ngModel>
    <br>

    <button type="submit">Find</button>

  </form>
  <ul role="list" *ngFor="let order of userOrdersData">
    <li >
      Order for: {{userData.firstname}}
    </li>
    <li>
      Created: {{order.created}}
    </li>
  </ul>
</div>

<br>

<div>
  <form #createUserForm="ngForm" (ngSubmit)="createUser(createUserForm)">
    <label>Sign up!</label>
    <div>
      <label>Firstname</label>
      <input type="text" name="fname" required ngModel>
    </div>
    <div>
      <label>Lastname</label>
      <input type="text" name="lname" required ngModel>
    </div>
    <div>
      <label>Phone number</label>
      <input type="tel" pattern="[0-9]{8}" name="telnr" required ngModel>
    </div>
    <div>
      <label>E-mail</label>
      <input type="email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" name="mail"  required ngModel>
    </div>
    <div>
      <label>Password</label>
      <input type="password" name="kode" required ngModel>
    </div>
    <input type="submit">
  </form>
</div>
