<p>orders works!</p>

<form #orderForm="ngForm" (ngSubmit)="createOrder(orderForm)">

    <label>Create order: </label>
    <br>
    <label>Choose time for pickup: </label>
    <input type="datetime-local" name="pickup" ngModel>
    <br>
    <select #selectPlace  (change)="onSelected(selectPlace.value)" >
        <option >Pick a place</option>
        <option *ngFor="let place of coffeePlaces" value="{{place.coffeePlaceId}}">{{place.coffeePlaceName}}</option>
    </select>

    <button type="submit">Add order</button>

</form>
