<p>THIS IS APP</p>

<br>
<p>----cakes----</p>
<app-cakes></app-cakes>

<br>
<p>----users----</p>
<app-users></app-users>

<br>
<p>----addresses----</p>
<app-addresses></app-addresses>

<br>
<p>----memberships----</p>
<app-memberships></app-memberships>

<br>
<p>----ordes----</p>
<app-orders></app-orders>

<br>
<p>----ingredients----</p>
<app-ingredients></app-ingredients>

<br>
<p>----coffees----</p>
<app-coffees></app-coffees>

<br>
<p>----custom coffees----</p>
<app-custom-coffee></app-custom-coffee>

<br>
<p>----posts----</p>
<app-posts></app-posts>
